.body {
    position: relative;
}

.body__image {
    margin-left: 400px;
    display:flex;
    height: 300px;
    width: 300px;
}

.body__about {
    text-align: center;
    margin-top: 100px;
}

.body__about > h1 {
    font-weight:bold;
}

.body__about > p {
    font-weight: 300;
    padding: 4px;
    margin-left: 80px;
    margin-right: 80px;
}



