.product__card {
    height: 400px;
    width: 300px;
    border: 1px solid rgb(241, 234, 234);
    display: grid;
    padding: 10px;
    margin-top: 80px;
}

.product__card > img {
    width: 300px;
    height: 400px;
    object-fit: fill;
}

.product__card > p {
    text-align: center;

}