.product__card {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(241, 234, 234);
    display: grid;
    padding: 10px;
    margin-top: 80px;
}

.product__card > img {
    width: 400px;
    height: 400px;
    object-fit: fill;
}

.product__card > p {
    text-align: center;

}

.product__button {
   height: 20px;
   width: 300px;
   padding: 20px;
   text-align: center; 
   font-weight: bolder; 
   background-color: burlywood;
   border-color: #a88734 #9c7e31 #846a29;
   margin-left: 55px;
}

