.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: lightgray;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 200px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 60px;
}

.header__center {
    align-items: center;
    justify-content: space-evenly;
}

.header__right {
    display: flex;
}
