.header {
    height: 110px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(241, 234, 234);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 200px;
    height: 110px;
    border-bottom: 60px;
    object-fit: contain;
    margin: 0 20px;
    padding: 20px;
}

.header__center {
    align-items: stretch;
    justify-content: space-evenly;
    margin: auto;
    height: 90%;
    width: 220px;
    padding: 10px;  
    float: left;
}

.header__center span {
    position: absolute;
    bottom: 0;
    margin-right: 200px;
}

.header__right {
    right: 150px;
    width: 200px;
    height: 90%;
    text-align: right;
    float: left;
    justify-content: normal;
}

.header__right span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 35px;
}
